<div class="bounds">
    
  <div class="content" 
       fxLayout="row" 
       fxLayout.xs="column" 
       fxFlexFill >
       
      <div fxFlex="20" class="sec1" fxFlex.xs="55">
<app-content-left></app-content-left>
      </div>
      <!-- begin content-home -->
      <div fxFlex="45" class="sec2" >
        <router-outlet ></router-outlet>
        <!-- ccc -->
      </div>
       <!-- begin content-home -->
      <div fxFlex="55" class="sec3" fxFlex.xs="15">
         <app-thong-diep></app-thong-diep>
      </div>
      
      <div fxFlex="55" class="sec4" fxFlex.xs="15">
     <app-user-right></app-user-right>
    </div>
  </div>
  
</div>